<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plandito</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="~/Content/angular-tagger.css" rel="stylesheet" />
    <!--[if IE]>
        <link href="~/Content/IEOnly.css" rel="stylesheet" />
    <![endif]-->


</head>
<body>
    <div ng-controller="mainLayoutController">

        <md-toolbar hide-sm hide-md layout="row">
            <div flex="95"></div>
            <div layout="row" flex="5" layout-align="end center">
                @if (Request.IsAuthenticated)
                {
                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                    {
                        @Html.AntiForgeryToken()

                        <a href="javascript:document.getElementById('logoutForm').submit()">
                            <md-icon md-svg-icon="~/Images/Icons/ic_exit_to_app_48px.svg" style="height: 35px; width: 35px; color: white; margin-right: 10px">
                            </md-icon>
                        </a>
                    }
                }

            </div>
        </md-toolbar>


        <div layout="row" flex>
            @if (Request.IsAuthenticated)
            {
                <md-sidenav style="min-height: 850px;" class="md-sidenav-right md-whiteframe-z2 ieSideNav" md-component-id="right" md-is-locked-open="$mdMedia('gt-md')">
                    <md-content class="md-padding" flex>
                        @if (User.IsInRole("Production") || User.IsInRole("Administrator"))
                        {
                            <md-list class="menuList">
                                <md-list-item>
                                    <md-button ng-href="#/" ng-click="close()" layout="row">
                                        <span layout="row" flex layout-align="start center">Home</span>
                                        <md-icon md-svg-icon="~/Images/Icons/ic_home_48px.svg"></md-icon>
                                    </md-button>

                                </md-list-item>

                                <md-divider></md-divider>

                                <md-list-item>
                                    <md-button ng-click="close()" ng-href="#/toDos" layout="row">
                                        <span layout="row" flex layout-align="start center">Task Manager</span>
                                        <md-icon md-svg-icon="~/Images/Icons/ic_view_list_48px.svg"></md-icon>
                                    </md-button>
                                </md-list-item>
                                
                                <md-divider></md-divider>

                                <md-list-item>
                                    <md-button ng-click="close()" ng-href="#/profile" layout="row">
                                        <span layout="row" flex layout-align="start center">Profile</span>
                                        <md-icon md-svg-icon="~/Images/Icons/ic_account_circle_48px.svg"></md-icon>
                                    </md-button>
                                </md-list-item>
                            </md-list>
                        }
                    </md-content>
                </md-sidenav>
            }
            <md-content class="md-padding main-container" flex layout="column">
                @RenderBody()
            </md-content>
        </div>

        @if (Request.IsAuthenticated)
        {
            <md-content class="footer">

                <md-toolbar id="bottomToolbar" hide-gt-md style="background-color: #E0E0E0">
                    <div class="md-toolbar-tools">
                        <md-button class="md-icon-button" ng-href="#/" aria-label="Settings" flex>
                            <md-icon class="toolbarBottomIcons" md-svg-icon="~/Images/Icons/ic_home_48px.svg"></md-icon>
                        </md-button>
                        <md-button class="md-icon-button" ng-href="#/toDos" aria-label="Settings"  flex>
                            <md-icon class="toolbarBottomIcons" md-svg-icon="~/Images/Icons/ic_view_list_48px.svg"></md-icon>
                        </md-button>
                        <md-button class="md-icon-button" aria-label="Settings" flex>
                            <md-icon class="toolbarBottomIcons" md-svg-icon="~/Images/Icons/ic_announcement_48px.svg"></md-icon>
                        </md-button>

                        <md-button class="md-icon-button" aria-label="Settings" flex>
                            @Html.Partial("_LoginPartial")
                        </md-button>

                        <md-button class="md-icon-button" aria-label="Settings" flex ng-click="toggleSidenav('right')">
                            <md-icon class="toolbarBottomIcons" md-svg-icon="~/Images/Icons/ic_more_vert_48px.svg"></md-icon>
                        </md-button>
                    </div>
                </md-toolbar>
            </md-content>
        }

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    
    <script src="~/Angular/Controller/addToDoController.js"></script>
    <script src="~/Angular/Controller/editToDoController.js"></script>
    <script src="~/Angular/Controller/listAllToDosController.js"></script>
    <script src="~/Angular/Controller/mainLayoutController.js"></script>
    <script src="~/Angular/Controller/profileController.js"></script>
    @RenderSection("scripts", false)

</body>
</html>