<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pyramid Planeringssystem</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body layout="column">

    <div ng-controller="mainLayoutController" style="height: 100%">

        <md-toolbar layout="row" ng-class="{'md-tall': windowWidth >= 600}">

            @if (Request.IsAuthenticated)
            {
                <button ng-click="toggleSidenav('left')" class="menuBtn" hide-gt-md>
                    <span class="visually-hidden">Menu</span>
                </button>
            }
            <h1 hide-sm>Pyramid Planeringsystem</h1>
        </md-toolbar>

        <div layout="row" flex style="height: 80%">
            @if (Request.IsAuthenticated)
            {
                <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">

                    <md-toolbar hide-gt-md ng-controller="leftController">
                        <md-button ng-click="close()" class="md-toolbar-tools">
                            <h1>Close</h1>
                        </md-button>
                    </md-toolbar>

                    <md-content class="md-padding">
                        <ul layout="column" style="list-style-type: none;">
                            <li>
                                <md-button class="md-primary">
                                    @Html.ActionLink("Admin", "Index", "Admin")
                                </md-button>
                            </li>
                            <li>
                                <md-button class="md-primary">
                                    @Html.ActionLink("Role Admin", "Index", "RoleAdmin")
                                </md-button>
                            </li>
                            @*<li>
                                    <md-button ng-href="#" class="md-primary md-hue-3">
                                        Test
                                    </md-button>
                                </li>*@
                        </ul>

                    </md-content>
                </md-sidenav>

            }

            <md-content layout="column" flex class="md-padding">
                @RenderBody()


            </md-content>

        </div>
        <footer style="height: 7% ; background-color: lightgray;">
            <md-divider></md-divider>
            <p>&copy; @DateTime.Now.Year - Pyramid Communications AB</p>
        </footer>
    </div>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")

    @RenderSection("scripts", false)

</body>
</html>